<script>
MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
<div id = "buttons" style="height:50px;">
<a class="btn"><span>Equations</span></a>
</div>
<h1>{{ the_list.1.name }}</h1>
<ul>
	<li>${{ the_list.1.latex }}$</li>
</ul>
<h2>Relevant Symbols</h2>
{% if the_list.0 %}
	<ul id="symList">
	{% for obj in the_list.0 %}
		{% if obj.equation.id = the_list.1.id %}
			<li id="link" data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No equations are available.</p>
{% endif %}
<h2>Relevant Exercises</h2>
{% if the_list.2 %}
	<ul id="exList">
	{% for obj in the_list.2 %}
		{% if obj.eqn.id = the_list.1.id %}
			<li id="link" data-ex="{{ obj.exc.id }}">${{ obj.exc.title }}$</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No equations are available.</p>
{% endif %}
<h2>Related Equations</h2>
	<ul>
	{% for obj in the_list.0 %}
		{% if obj.equation.id = the_list.1.id %}
			<li><h3>${{ obj.symbol.symbol }}$</h3></li>
			<ul id="eqList">
			{% for eqn in the_list.0 %}
				{% if eqn.symbol.id = obj.symbol.id %}
					<li data-eq="{{ eqn.equation.id }}">${{ eqn.equation.latex }}$</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
	</ul>


<script src="{{ STATIC_URL }}per/js/jquery.js"></script>
<script>
	$(document).ready(function(){
	  $('#symList li').on('click', function() {
		$.get( "/symbols/"+$(this).data("sym"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
	$(document).ready(function(){
	  $('#eqList li').on('click', function() {
		$.get( "/equations/"+$(this).data("eq"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
	$(document).ready(function(){
	  $('#exList li').on('click', function() {
		$.get( "/exercises/"+$(this).data("ex"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
</script>