<script>
MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

<h1>{{ the_list.1.title }}</h1>
{{ the_list.1.text|linebreaks }}
{% if the_list.1.img != "none" and the_list.1.img != "None"%}
image goes here
{% else %}
no image
{% endif %}
<h2>Relevant Equations</h2>
{% if the_list.0 %}
	<ul id="eqList">
	{% for obj in the_list.0 %}
		{% if obj.exc.id = the_list.1.id %}
			<li data-eq="{{ obj.eqn.id }}">${{ obj.eqn.latex }}$</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No equations are available.</p>
{% endif %}
<h2>Given Symbols</h2>
{% if the_list.2 %}
	<ul id="symList">
	{% for obj in the_list.2 %}
		{% if obj.exc.id = the_list.1.id %}
			{% if obj.type = 0 %}
				<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No symbols are given</p>
{% endif %}
<h2>Hidden Symbols</h2>
{% if the_list.2 %}
	<ul id="symList">
	{% for obj in the_list.2 %}
		{% if obj.exc.id = the_list.1.id %}
			{% if obj.type = 1 %}
				<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No symbols are hidden</p>
{% endif %}
<h2>Find Symbols</h2>
{% if the_list.2 %}
	<ul id="symList">
	{% for obj in the_list.2 %}
		{% if obj.exc.id = the_list.1.id %}
			{% if obj.type = 2 %}
				<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No symbols are asked for</p>
{% endif %}

<script src="{{ STATIC_URL }}per/js/jquery.js"></script>
<script>
	$(document).ready(function(){
	  $('#symList li').on('click', function() {
		$.get( "/symbols/"+$(this).data("sym"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
	$(document).ready(function(){
	  $('#eqList li').on('click', function() {
		$.get( "/equations/"+$(this).data("eq"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
</script>