<!DOCTYPE html>
<html>
	<head>
	<title>Details</title>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
    	tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  	});
	</script>
	{% load staticfiles %}
	<script type="text/javascript" src="{{ STATIC_URL }}per/MathJax-2.4-latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	</head>
	<body>
		{% if the_list.1 %}
			{% for exc in the_list.1 %}
				<h2>{{ exc.title }}
				{{ exc.text|linebreaks }}
				<h3>Given Symbols</h3>
				{% if the_list.2 %}
    				<ul>
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 0 %}
        						<li><a href="{% url 'symDetail' obj.symbol.id %}">${{ obj.symbol.symbol }}$</a></li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
				<h3>Hidden Symbols</h3>
				{% if the_list.2 %}
    				<ul>
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 1 %}
        						<li><a href="{% url 'symDetail' obj.symbol.id %}">${{ obj.symbol.symbol }}$</a></li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
				<h3>Find symbols:</h3>
				{% if the_list.2 %}
    				<ul>
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 2 %}
        						<li><a href="{% url 'symDetail' obj.symbol.id %}">${{ obj.symbol.symbol }}$</a></li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</body>
</html>