<!DOCTYPE html>
<html>
	<head>
	<title>Exercises</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/btn.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/global.css">
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
    	tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  	});
	</script>
	<meta charset="utf-8">

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
	 });
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}per/MathJax-2.4-latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/dashboard.css">
	{% load staticfiles %}
	<script type="text/javascript" src="{{ STATIC_URL }}per/MathJax-2.4-latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	</head>
	<body>
	<div id = "buttons" style="height:50px;">
	<center>
	<a href="/symbols" class="btn"><span>Symbols</span></a>
	<a href="/equations" class="btn"><span>Equations</span></a>
	<a href="/sections" class="btn"><span>Sections</span></a>
	<a href="/exercises" class="btn"><span>Exercises</span></a>
	</center>
	</div>
	<div id='dashboard'>
	</div>
	<div>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="{{ STATIC_URL }}per/js/dashboard.js"></script>
	<script>
	var freqData=[];

	{% for sym, arr in the_list.3.items %}
		freqData.push({Symbol:'{{sym.symbol}}',freq:{given:{{arr.0}}, hidden:{{arr.1}}, find:{{arr.2}}}})
	{% endfor %}
	
	dashboard('#dashboard',freqData);
	</script>
	</div>
	<div id="list">
		{% if the_list.1 %}
			{% for exc in the_list.1 %}
				<h2>{{ exc.title }}</h2>
				<h3>Given Symbols</h3>
				{% if the_list.2 %}
    				<ul id="symList">
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 0 %}
    							<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
				<h3>Hidden Symbols</h3>
				{% if the_list.2 %}
    				<ul id="symList">
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 1 %}
    							<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
				<h3>Find symbols:</h3>
				{% if the_list.2 %}
    				<ul id="symList">
    				{% for obj in the_list.2 %}
    					{% if obj.exc.id = exc.id %}
    						{% if obj.type = 2 %}
    							<li data-sym="{{ obj.symbol.id }}">${{ obj.symbol.symbol }}$</li>
    						{% endif %}
        				{% endif %}
		    		{% endfor %}
    				</ul>
				{% else %}
    				<p>No symbols are given</p>
				{% endif %}
			{% endfor %}
		{% endif %}

		
		<h2>Suggested Exercises</h2>
		<ul id="excList">
		{% for sym, arr in the_list.3.items %}
			{% if arr.1 = 0 %}
				{% for symbol in the_list.2 %}
					{% if sym.id = symbol.symbol.id and symbol.type = 1 %}
						<li data-exc="{{ symbol.exc.id }}">${{ symbol.exc.title }}$</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ul>
		</div>
		<div id="content">
	
		</div>
		<script src="{{ STATIC_URL }}per/js/jquery.js"></script>
		<script>
			$(document).ready(function(){
			  $('#symList li').on('click', function() {
				$.get( "/symbols/"+$(this).data("sym"), function (data) {
				  $("#content").html(data);
				});  
			  }); 
			});
			$(document).ready(function(){
			  $('#excList li').on('click', function() {
				$.get( "/exercises/"+$(this).data("exc"), function (data) {
				  $("#content").html(data);
				});  
			  }); 
			});
		</script>
	</body>
</html>