<!DOCTYPE html>
<html>
	<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/btn.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/global.css">
	</head>
	<body>
		<div id = "buttons" style="height:50px;">
		<center>
		<a href="/symbols" class="btn"><span>Symbols</span></a>
		<a href="/equations" class="btn"><span>Equations</span></a>
		<a href="/sections" class="btn"><span>Sections</span></a>
		<a href="/exercises" class="btn"><span>Exercises</span></a>
		</center>
		</div>
	</body>
</html>