<!DOCTYPE html>
<html>
	<head>
	<title>Index</title>


	</head>
	<body>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/btn.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/global.css">
	</head>
	<body>
		<div id="list">
		<div id = "buttons" style="height:50px;">
		<a href="/symbols" class="btn"><span>Symbols</span></a>
		<a href="/equations" class="btn"><span>Equations</span></a>
		<a href="/sections" class="btn"><span>Sections</span></a>
		<a href="/exercises" class="btn"><span>Exercises</span></a>
		</div>
		<div id = "buttons" style="height:50px;">
		<!-- first two don't do anythign yet --!>
		<a class="btn"><span>Ex by Chapter</span></a><br>
		<a class="btn"><span>Ex by Section</span></a><br>
		<a href="/secexclist" class="btn"><span>All Exercises</span></a><br>
		</div>
		</div>
	</body>
</html>