<!DOCTYPE html>
<html>
	<head>
	<title>Details</title>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
    	tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  	});
	</script>
	{% load staticfiles %}
	<script type="text/javascript" src="{{ STATIC_URL }}per/MathJax-2.4-latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/global.css">
	</head>
	<body>
	<form action="{% url 'excListResults' %}" choice method="post">
	{% csrf_token %}
		{% if the_list.1 %}
			{% for sec, exercises in the_list.1.items %}
				<h2>{{sec.ch_num}}: {{sec.name}}</h2>
				<ul>
				{% for exc in exercises %}
					<li>{{ exc.title }}<input type="checkbox" name="choice[]" value={{ exc.id }}></li>
				{% endfor %}
				</ul>
			{% endfor %}
		{% endif %}
		<input type="submit" value="submit" />
	</form>
	</body>
</html>