<!DOCTYPE html>
<html>
	<head>
	<title>Symbol Index</title>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
    	tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  	});
	</script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/btn.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}per/css/global.css">
	{% load staticfiles %}
	<script type="text/javascript" src="{{ STATIC_URL }}per/MathJax-2.4-latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
	</head>
	<body>
	<div id = "buttons" style="height:50px;">
	<center>
	<a href="/symbols" class="btn"><span>Symbols</span></a>
	<a href="/equations" class="btn"><span>Equations</span></a>
	<a href="/sections" class="btn"><span>Sections</span></a>
	<a href="/exercises" class="btn"><span>Exercises</span></a>
	</center>
	</div>
	<div id="list">
		{% if symbol_list %}
    		<ul>
    		<h1>Symbols</h1>
    		{% for sym in symbol_list %}
        		<li><a href="{% url 'symDetail' sym.id %}">${{ sym.symbol }}$</a></li>
		    {% endfor %}
    		</ul>
		{% else %}
    		<p>No symbols are available.</p>
		{% endif %}
	</div>
	<div id="content">
	
	</div>
	<script src="{{ STATIC_URL }}per/js/jquery.js"></script>
	<script>
		$(document).ready(function(){
			$("#content").text("Hello");
		});
	</script>
	</body>
</html>