<script>
MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>

<h1>{{ the_list.1.name }}</h1>
<ul>
	<li>${{ the_list.1.symbol }}$</li>
</ul>
<h2>Relevant Equations</h2>
{% if the_list.0 %}
	<ul id="eqList">
	{% for obj in the_list.0 %}
		{% if obj.symbol.id = the_list.1.id %}
			<li data-eq="{{ obj.equation.id }}">${{ obj.equation.latex }}$</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	<p>No equations are available.</p>
{% endif %}

<script src="{{ STATIC_URL }}per/js/jquery.js"></script>
<script>
	$(document).ready(function(){
	  $('#eqList li').on('click', function() {
		$.get( "/equations/"+$(this).data("eq"), function (data) {
		  $("#content").html(data);
		});  
	  }); 
	});
</script>