.btn {
  display: inline-block;
}

.btn span {	
  text-align: center;
  display: inline-block;
  margin-top: 14px;
  padding-top: 12px;
  width: 100px;
  height: 25px;
  font-family: "Impact";
  color: white;
  font-size: 15px;
  line-height: 1;
  background: #111;
}